body{
  background: url(./imgs/wallpaper/butterfly.jpeg);
}

  /* selected tag styles */
  .selected-tag{
    background-color: antiquewhite;
    border-radius: 5px;
  }
  .selected-tag>a{
    font-weight: bold;
  }

  /* nav styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding: 20px;
      background-color: white;
      border-radius: 20px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      padding: 5px;
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    .site-title{
      padding: 5px;
    }

  /* details styles */
    .imgDisplay{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    
    .detail-img{
      display: inline-block;
      width: 20em;
      height: 20em;
      border-radius: 10px;
      object-fit: cover;
    }

    .deleteBtn{
      display: block;
      max-width: 30px;
      cursor: pointer;
      margin: 0 auto;
    }

  /* all-cates styles */
    .all-categories{
      width: 400px;
      float: left;
    }
    .all-categories>div{
      margin-bottom: 20px;
    }
    .all-categories>div>a>h3{
      color: lightblue;
    }
    .all-categories>div>a>h4{
      color: #bbbaba;
      font-size: 12px;
      font-style: italic;
    }
    .category-page-title{
      margin: 10px 0;
      color: lightblue;
      letter-spacing: 2px;
    }
    .category-page-snippet{
      color: white;
    }
    .operate-box{
      float: left;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
    }
    form{
      width: 400px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #ddd;
      background-color: rgba(255, 255, 255, .3);
    }
    form>*{
      margin-bottom: 10px;
    }
    form>label{
      font-family: 'Abril Fatface', cursive;
    }
    .create-btn{
      padding: 10px;
      background-color: lightblue;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

  /* index weather module */
  .dynamicTime{
    position: relative;
    width: 250px;
    height: 230px;
    border-radius: 20px;
    background-color: #092238;
    padding: 20px;
    color: #A0D1E0;
  }
  .time{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .weather-block{
    float: left;
    margin-right: 15px;
  }
  .date-block>p{
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .date-block{
    height: 115px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .month, .date{
    font-size: 30px;
  }

  .weather{
    background-image: url('/imgs/other/Weather-Icons.jpg');
    background-size: 750%;
    width: 95px;
    height: 95px;
  }
  .weather>p{
    display: none;
  }
  
  /* index interface */
  /* now dynamicTime, media-type, blog-list
  are all flex items */
  .index-interface{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .decoration-pattern>span{
    position: absolute;
  }
  .decoration-pattern>span:nth-child(1){
    left: 491px;
    top: 10px;
    font-size: 114px;
    opacity: 0.5;
  }
  .decoration-pattern>span:nth-child(2){
    top: 35px;
    right: 100px;
    font-size: 100px;
    opacity: 0.7;
  }
  .decoration-pattern>span:nth-child(3){
    right: 435px;
    top: 50px;
    font-size: 82px;
    opacity: 0.5;
  }
  .decoration-pattern>span:nth-child(4){
    right: 441px;
    top: 133px;
    font-size: 153px;
    opacity: 0.3;
  }



  

  /* index media type module */
  .feature-module{
    width: 710px;
    /* background-color: #EE683E; */
    background-color: #EF476F;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
  }
  .feature-head, .feature-opts{
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .feature-head>p:nth-child(1){
    font-size: 18px;
  }
  .feature-head>p:nth-child(2){
    font-weight: bold;
    font-size: 35px;
  }
  .feature-opts>.otherCates, 
  .feature-opts>.media-type{
    /* using float would align at the top */
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
  .feature-opts>.otherCates{width: 375px;}
  .feature-opts>.media-type{width: 130px;}
  .otherCates>div{
    display: inline-block;
    color: white;
    background-color: #FF9B42;
    padding: 5px;
    border-radius: 10px;
    margin: 0 5px 5px 0;
  }
  .media-type>div{
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #8C2155;
    opacity: 70%;
  }
  .feature-frame{
    float: left;
    display: flex;
    margin-top: 10px;
  }
  .feature-pics{
    width: 560px;
    height: 560px;
    margin-right: 15px;
    border: 8px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background-color: white;
  }
  .feature-pics>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .feature-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #CDE7B0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .feature-thumbnail>div{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 5px solid white;
    overflow: hidden;
  }
  .feature-thumbnail>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .feature-thumbnail>div:nth-child(1){
    border-top-right-radius: 50%;
  }
  .feature-thumbnail>div:nth-last-child(1){
    border-bottom-right-radius: 50%;
  }

  /* blog styles */
  .blog-display{
    width: 770px;
    padding-left: 5px;
    margin-bottom: 40px;
    border-left: 7px solid rgb(68, 149, 176);
  }
  .blog-display>a>h3{
    color: rgb(76, 168, 198);
    font-weight: bold;
  }
  .blog-display>a>h5{
    font-weight: thin;
    color: lightgrey;
    font-style: italic;
  }
  .blog-display>a>p{
    color: white;
  }
  .blog-list{
    min-height: 200px;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    background-color: #1660A5;
  }
  .blog-list>p{
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }
  .blog-list>li{
    padding: 15px 0;
    border-bottom: 1px solid white;
  }
  .blog-list>li>a>p:nth-child(1){
    color: rgb(76, 168, 198);
    font-size: 16px;
    font-weight: bold;
  }
  .blog-list>li>a>p:nth-child(2){
    color: lightgrey;
    font-size: 14px;
  }
  .blog-title{
    color: #1660A5;
    font-weight: bold;
  }
  .blog-snippet{
    color: rgb(68, 149, 176);
    font-style: italic;
  }
  .blog-body{
    margin: 30px 0;
  }


  /* todo module styles */
  .todo-list{
    position: relative;
    margin-top: 30px;
    width: 250px;
    min-height: 300px;
    border-radius: 20px;
    background-color: lightblue;
    padding: 20px;
  }
  .todo-list>span{
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 100px;
    opacity: 0.5;
    color: white;
  }
  .todo-list>p{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .todo-list>li{
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
    padding: 5px;
  }
  .todo-list>li>a{
    color: black;
    text-decoration: underline;
  }
  .todos-display{width: 795px;}
  .todos-display>div{
    position: relative;
    margin-bottom: 20px;
  }
  .todos-display>div>h3{
    color: #A0D1E0;
    margin-bottom: 10px;
  }
  .todos-display>div>p{
    color: white;
  }
  .todos-display>div>a{
    position: absolute;
    top: 0;
    right: 50px;
  }