<nav>
    <div class="site-title">
        <a href="/"><h1 class="AFfont">Album Website</h1></a>
        <p>Records for Interests</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all-cates">Image-Collection</a></li>
        <li><a href="/all-blogs">Blogs/Notes</a></li>
        <li><a href="/all-todos">Todo-List</a></li>
    </ul>
</nav>